html, body {
    font-family: 'Roboto Mono', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    background: hsl(207, 100%, 4%);
}

.main {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.rak-timeline {
    list-style-type: circle;
}
